* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    height: auto;
}
#main .main{
    min-height: 100vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#main .main .game-name h1{
    font-size: 2rem;
    text-align: center;
    background-color: blueviolet;
    color: whitesmoke;
    margin: 5px;
    border-radius: 9px;
    transition: 0.4s ease font-size;
}
#main .main .game-name h1:hover{
    font-size: 2.5rem;
}
#main .main .game-controls{
    padding: 50px 50px;
}
#main .main .game-controls .gas-button{
    width: 100px;
    height: 50px;
    font-size: 1.5em;
    font-weight: 700;
    border-radius: 10px;
    color: black;
    border: 3px solid black;
    transition: 0.3s ease font-size;
    background-color: greenyellow;
}
#main .main .game-controls .gas-button:active{
    font-size: 1.9rem
}
#main .main .game-controls .active{
    background-color: tomato;
}
#main .main .game-field .car{
    width: 300px;
    height: 100px;
    /* border: 3px solid black; */
    display: flex;
    flex-direction: row;
}
#main .main .game-field .car .third{
    width: 100px;
    display: flex;
    flex-direction: column;
}
#main .main .game-field .car .car-1{
    width: 75px;
    display: flex;
    flex-direction: column;
}
#main .main .game-field .car .sixth{
    height: 50px;
}
#main .main .game-field .car .car-1 .car-1-1{
    background-color: crimson;
    position: relative;
}
#main .main .game-field .car .car-1 .car-1-1::after{
    content: '';
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    border-bottom-right-radius: 100px;
}
#main .main .game-field .car .car-1 .car-1-1::before{
    background-color: crimson;
    content: '';
    width: 112%;
    height: 50%;
    position: absolute;
    border-radius: 60px;
    top: 18px;
    left: 68px;
    /* border: 3px solid black; */
    z-index: 10;
}
#main .main .game-field .car .car-1 .car-1-2{
    background-color: crimson;
    border-top-left-radius: 25px;
    position: relative;
}
#main .main .game-field .car .car-1 .car-1-2 .wheel{
    width: 50px;
    height: 50px;
    border: 5px solid black;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    left: 5px;
}
#main .main .game-field .car .active{
    animation: wheels-spinning 0.2s infinite;
}
#main .main .game-field .car .wheel .tire{
    border: 2px solid white;
    background-color: #c4c4c4;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    left: 10px;
    top: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
#main .main .game-field .car .wheel .column-holes{
    display: flex;
    flex-direction: column;
}
#main .main .game-field .car .wheel .tire .hole{
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background-color: black;
}
#main .main .game-field .car .wheel .tire .not-hole{
    width: 15px;
    height: 15px;
    background-color: transparent;
}
#main .main .game-field .car .wheel .tire .center{
    background-color: transparent;
    position: relative;
}
#main .main .game-field .car .wheel .tire .center::after{
    content: '';
    width: 50%;
    height: 50%;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 25%;
    border-radius: 50%;
}
#main .main .game-field .car .car-2 .car-2-1{
    background-color: crimson;
    /* border-top-left-radius: 15px; */
    border-top-right-radius: 50px;
    border-top-left-radius: 5px;
    border-collapse: collapse;
    position: relative;
    
}
#main .main .game-field .car .car-2 .car-2-1::after{
    content: '';
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    left: -10px;
    top: -25px;
    border-bottom-right-radius: 0px;
}
#main .main .game-field .car .car-2 .car-2-2{
    background-color: crimson;
}
#main .main .game-field .car .car-3 .car-3-1{
    background-color: crimson;
    position: relative;
}
#main .main .game-field .car .car-3 .car-3-1::after{
    content: '';
    background-color: white;
    position: absolute;
    height: 100%;
    width: 130%;
    left: -30px;
    border-bottom-left-radius: 100px;
}
#main .main .game-field .car .car-3 .car-3-2{
    background-color: crimson;
    border-top-right-radius: 50px;
    position: relative;
}
#main .main .game-field .car .car-3 .car-3-2 .wheel{
    width: 50px;
    height: 50px;
    border: 5px solid black;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    left: 30px;
}
@keyframes wheels-spinning {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}