@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800;900&display=swap');
*{
	padding: 0;
	margin: 0;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
    box-sizing: border-box;
}
a {
	text-decoration: none;
}
img {
	height: 100%;
	width: 100%;
}
.brand h1{
    text-align: center;
    color: royalblue;
    font-weight: 900;
    text-align: center;
    font-size: 2.3rem;
    text-transform: uppercase;
}
.brand span{
    color: crimson;
}
.brand p{
    font-weight: 500;
}
.purple-btn{
    display: inline-block;
    background-image: linear-gradient(90deg, #ff0000 0%, #077DEA 100%);
    font-weight: 600;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: white;
    padding: 7.5px 41px;
    box-shadow: 0px 4px 10px rgba(255, 0, 0, 0.43);
    animation: button-shining 1.5s ease infinite;
}
.section-title h1{
    font-size: 3rem;
    text-transform: uppercase;
    margin: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 20px;
    padding: 5px 10px
}
.section-title h1::after{
    content: "-";
}
.section-title h1::before{
    content: '-';
}
/* Header */
#header{
    /* display: none; */
    width: 100%;
    box-shadow: 0 0 5px black;
    position: fixed;
    background-color: white;
    z-index: 1000;
}
#header .header{
    max-width: 1200px;
    margin: 0 10px;
    display: flex;
    min-height: 6vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#header .header .hamburger{
    border: 3px solid black;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
	position: relative;
    z-index: 100;
    margin: 4px;
    /* background-image: linear-gradient(90deg, #ff0000 0%, #077DEA 100%); */
}
#header .hamburger .bar {
	height: 2.4px;
	width: 20px;
	background-color: black;
    position: relative;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: black;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
#header .nav-list{
    display: flex;
    flex-direction: row-reverse;
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: white;
    width: 100vw;
    height: 100vh;
    left: -105%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transition: 0.45s ease left;
    border-right: 2px solid black;
}
#header .nav-list ul.active {
	left: -25%;
}
#header .nav-list ul a{
	font-size: 3rem;
	font-weight: 700;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
    padding: 15px;
    display: block;
}
#header .nav-list ul{
    display: flex;
    align-items: flex-end;
}
#header .header .call-me-desktop{
    display: none;
    cursor: pointer;
    margin-left: 20px;
}
#header .header .call-me-desktop a{
    display: flex;
    align-items: center;
}
#header .header .call-me-desktop .icon{
    background-image: url(./img/telephone.svg);
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
}
#header .header .call-me-desktop:hover{
    animation: button-shining 1.3s infinite;
}
#header .header .call-me-mobile a{
    display: flex;
    background-image: url(./img/telephone.svg);
    width: 36px;
    height: 36px;
    background-size: 36px 36px;
    background-repeat: no-repeat;
    margin: 4px;
}
#header .header .call-me-desktop p{
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
    color: black;
}
/* End Header */

/* Main Section */
#main{
    width: 100%;
    /* display: none; */
    overflow-x: hidden;
}
#main .main{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#main .main .main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
#main .main-images-window{
    position: relative;
    overflow: hidden;
}
#main .main-images{
    width: 4000px;
    height: 40vh;
    position: relative;
    background-image: url(./img/main_img.png);
    background-size: contain;
    background-position: top center;
    animation: image-dance 40s linear infinite;
}
#main .main .main-content .main-offer{
    max-width: 400px;
    max-height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 12px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.98);
    margin: 10px;
}
#main .main .main-content .main-offer .offer-theme h1{
    font-size: 1.9rem;
    line-height: 1.9rem;
}
#main .offer-desc p{
    line-height: 1.7rem;
    font-size: 1.7rem;
    margin: 10px 0;
}
/* End Main Section */

/* Catalog Section */
#catalog{
    width: 100%;
    /* display: none; */
    background:
    radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
    background-color: rgba(100, 20, 20, .4);
    background-size:75px 100px;
    padding:40px 0;
}
#catalog .catalog{
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    /* border: 2px dashed black; */
}
#catalog .catalog .catalog-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#catalog .catalog .catalog-content .content-wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}
#catalog .catalog .catalog-content .content-wrapper .useful-info{
    display: none;
}
#catalog .catalog .catalog-content .content-wrapper .slider-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#catalog .catalog .catalog-content .content-wrapper .slider-wrapper button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 3rem;
    text-align: center;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    background-color: white;
    background-image: url(./img/arrow.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
#catalog .catalog .catalog-content .content-wrapper .slider-wrapper button:active{
    box-shadow: 0 0 5px rgba(0, 0, 0, .2) inset;
}
#catalog .catalog .catalog-content .content-wrapper .slider-wrapper button:disabled{
    opacity: 0.22;
}
#catalog .catalog .catalog-content .content-wrapper .slider-wrapper .prev{
    transform: rotate(180deg);
}
#catalog .catalog .catalog-content .content-wrapper .slider-wrapper .slider{
    width: 70vw;
    max-width: 400px;
    height: 80vh;
    max-height: 600px;
    /* border: 2px dashed black; */
    margin: 0 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 500px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
#catalog .catalog .catalog-content .content-wrapper .slider-wrapper .slider .image-window{
    /* border: 2px dashed black; */
    overflow: hidden;
    margin: 0 auto;
    width: 90%;
    max-width: 300px;
    height: 50%;
}
#catalog .catalog .catalog-content .content-wrapper .slider-wrapper .slider .image-window .image-track{
    display: flex;
    transition: 0.3s;
}
#catalog .catalog .catalog-content .content-wrapper .slider-wrapper .slider .image-window .image-track .slider-item-image img{
    pointer-events: none;
    object-fit: scale-down;
}
#catalog .catalog .catalog-content .content-wrapper .slider-wrapper .slider .dots-window{
    margin: 0 auto;
    padding: 3px 0 12px 0;
}
#catalog .catalog .catalog-content .content-wrapper .slider-wrapper .slider .dots-items{
    display: flex;
    justify-content: center;
}
#catalog .catalog .catalog-content .content-wrapper .slider-wrapper .slider .dots-item{
    padding: 0 10px;
}
#catalog .catalog .catalog-content .content-wrapper .slider-wrapper .desc-window{
    width: 90%;
    /* border: 2px dashed black; */
    max-width: 400px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}
#catalog .catalog .catalog-content .content-wrapper .slider-wrapper .desc-track{
    display: flex;
    max-height: 200px;
    transition: 0.5s;
}
#catalog .catalog .catalog-content .content-wrapper .slider-wrapper .desc-item{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
}
#catalog .catalog .catalog-content .content-wrapper .slider-wrapper .desc-item h1{
    font-size: 2rem;
    text-align: start;
    min-height: 43px;
}
#catalog .catalog .catalog-content .content-wrapper .slider-wrapper .desc-item p{
    text-align: justify;
    font-size: 1.3rem;
}
#catalog .catalog .catalog-content .content-wrapper .slider-wrapper .desc-item h2{
    font-size: 2rem;
    text-align: end;
}
/* End Catalog Section */

/* Delivery */
#delivery{
    width: 100%;
    padding: 80px 0;
    /* display: none; */
}
#delivery .delivery{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
	align-items: center;
    justify-content: center;
    flex-direction: column;
}
#delivery .delivery .delivery-content{
    display: flex;
    border-radius: 17px;
    /* border: 2px solid black; */
    flex-direction: column;
    margin: 15px 15px;
    overflow: hidden;
    max-width: 800px;
}
#delivery .delivery .delivery-content .delivery-item{
    display: flex;
    max-height: 300px;
    flex-direction: row;
    background-color: rgb(184, 78, 245);
    overflow: hidden;
}
#delivery .delivery .delivery-content .delivery-item:hover .delivery-first img{
    transform: scale(1.1);
}
#delivery .delivery .delivery-content .delivery-item:nth-child(2n){
    flex-direction: row-reverse;
}
#delivery .delivery .delivery-content .delivery-item .delivery-first{
    width: 50%;
    min-height: 50vw;
    overflow: hidden;
}
#delivery .delivery .delivery-content .delivery-item .delivery-first img{
    object-fit: cover;
    transition: 0.5s ease transform;
    pointer-events: none;
}
#delivery .delivery .delivery-content .delivery-item .delivery-second{
    /* margin: 5px 5px; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(90deg, #ff0000 0%, #077DEA 100%);
}
#delivery .delivery .delivery-content .delivery-item .delivery-second .delivery-text{
    margin: 10px 10px;
}
#delivery .delivery .delivery-content .delivery-item .delivery-second h1{
    font-size: 1.7rem;
    line-height: 1.7rem;
    color: white;
    font-weight: 900;
    text-align: center;
    margin-bottom: 5px;
}
#delivery .delivery .delivery-content .delivery-item .delivery-second p{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: justify;
    color: white;
    line-height: 1.4rem;
}
/* End Delivery */

/* Contacts and Reports*/
#contacts-and-reports{
    width: 100%;
    /* display: none; */
    background:
    radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
    background-color: rgba(100, 20, 20, .4);
    background-size:75px 100px;
    padding: 100px 0;
}
#contacts-and-reports .contacts-and-reports{
    max-width: 1200px;
    /* border: 2px solid black; */
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
} 
#contacts-and-reports .contacts-and-reports .contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contacts-and-reports .contacts-and-reports .contacts-items{
    display: flex;
    flex-direction: column;
}
#contacts-and-reports .contacts-and-reports .contacts-first{
    text-align: center;
    margin-bottom: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#contacts-and-reports .contacts-and-reports .contacts-second{
    padding-top: 10px;
    overflow: hidden;
}
#contacts-and-reports .contacts-and-reports .contacts-second img{
    /* box-shadow: 0px 0px 5px black; */
    height: 400px;
}
#contacts-and-reports .contacts-and-reports .contact-item{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
    justify-content: center;
    min-height: 110px;
    width: 300px;
    max-width: 380px;
}
#contacts-and-reports .contacts-and-reports .contact-item .contact-item-content{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 17px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
    padding: 20px;
    width: 65%;
    /* justify-content: center; */
    align-items: center;
    /* border: 2px solid black; */
}
#contacts-and-reports .contacts-and-reports .contact-item .contact-icon{
    width: 50px;
    height: 50px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#contacts-and-reports .contacts-and-reports .contact-item .icon-item-adress{
    background-size: 40px 40px;
    background-image: url(./img/icons/icons8-adress.svg);
    width: 40px;
    height: 40px;
}
#contacts-and-reports .contacts-and-reports .contact-item .icon-item-phone{
    background-size: 40px 40px;
    background-image: url(./img/icons/icons8-phone.png);
    width: 40px;
    height: 40px;
}
#contacts-and-reports .contacts-and-reports .contact-item .icon-item-time{
    background-size: 40px 40px;
    background-image: url(./img/icons/icons8-time.png);
    width: 40px;
    height: 40px;
}
#contacts-and-reports .contacts-and-reports .contact-item .contact-info{
    margin-left: 25px;
    /* border: 2px solid blue; */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}
#contacts-and-reports .contacts-and-reports .contact-item .contact-info .whatsapp-button{
    background-color: forestgreen;
    display: inline-block;
    width: 60px;
    border-radius: 15px;
    padding: 2px;
    margin: 5px 1px 1px 0;
}
#contacts-and-reports .contacts-and-reports .contact-item .contact-info .whatsapp-button a{
    color: white;
}
#contacts-and-reports .contacts-and-reports .contact-item .contact-info a{
    color: black;
}
#contacts-and-reports .contacts-and-reports .contact-item .contact-info p{
    text-align: center;
    font-size: 1rem;
}
.reports{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0 50px 0;
}
.reports .reports-content{
    display: flex;
    margin-top: 18px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3); */
    overflow: hidden;
}
.reports .reports-content .reports-wrapper{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    padding: 10px;
    overflow: hidden;
    margin: 10px;
}
.reports .reports-window{
    width: 80vw;
    max-width: 350px;
    margin: 0 auto;
    overflow-x: scroll;
}
.reports .reports-window::-webkit-scrollbar{
    height: 8px;
    background-color: #c2c2c2;
    border-radius: 10px;
}
.reports .reports-window::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}
.reports .reports-window .reports-track{
    margin-right: 10px;
    display: flex;
}
/* .reports .reports-window{
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    height: 70vh;
    overflow-y: scroll;
}
.reports .reports-window::-webkit-scrollbar{
    width: 5px;
    background-color: #C4C4C4;
    border-radius: 10px;
}
.reports .reports-window::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}
.reports .reports-window .reports-track{
    margin-right: 10px;
} */
.reports .reports-window .reports-track .reports-item{
    min-height: 120px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(90deg, #ff0000 0%, #077DEA 100%);
    margin: 12px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 3px solid black;
    /* box-shadow: 0 0px 5px black; */
    min-width: 270px;
}
.reports .reports-window .reports-track .reports-item p{
    font-weight: 600;
    color: white;
    font-size: 1.2rem;
}
.reports .reports-window .reports-track .reports-item .left-side{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 120px;
    margin-left: 5px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    /* border: 2px solid blue; */
}
.reports .reports-window .reports-track .reports-item .left-side img{
    height: 100px;
    border-radius: 100px;
    max-width: 100px;
    pointer-events: none;
    background-color: whitesmoke;
}
.reports .reports-window .reports-track .reports-item .right-side{
    margin: 15px 0 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid blue; */
}
.reports .reports-window .reports-track .reports-item .right-side .stars{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.reports .reports-window .reports-track .reports-item .right-side .stars img{
    max-width: 16px;
    pointer-events: none;
}
.reports .feedback{
    margin-top: 15px;
}
.reports .give-a-feedback{
    width: 18vw;
    margin: 0 auto;
    max-width: 150px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    /* vertical-align: middle; */
    /* background-image: linear-gradient(90deg, #ff0000 0%, #077DEA 100%); */
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    justify-content: center;
    min-width: 150px;
}
.reports .give-a-feedback:hover{
    background-color: #292525;
}
.reports .give-a-feedback:active{
    background-color: #554d4d;
}
.reports .give-a-feedback p{
    text-align: center;
    font-weight: 800;
    color: white;
    font-size: 1.2rem;
}
/* End Contacts and Reports */

/* Pay Methods */
.payment{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.payment .section-title{
    display: flex;
}
.pay-methods{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    margin-top: 50px;
    padding: 0 20px;
}
.pay-methods .pay-item{
    width: 80px;
}
.pay-methods .pay-item img{
    object-fit: contain;
    pointer-events: none;
}
/* End Pay Methods */

/* Footer */
#footer-section {
    /* border-top: 2px solid black; */
    box-shadow: 0px 0px 5px black;
    padding-bottom: 20px;
}
#footer-section .footer-section{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
#footer-section .brand{
    margin-top: 20px;
    text-align: center;
}
#footer-section .footer-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 10px 0;
    align-items: center;
}
#footer-section .footer-items a:active{
    transition: 0.35s ease transform;
}
#footer-section .footer-items a:active{
    transform: scale(1.2);
}
#footer-section .footer-items .whatsapp-icon{
    width: 40px;
    height: 40px;
    background-image: url(./img/icons/icons8-whatsapp.svg);
    background-size: 40px 40px;
}
#footer-section .footer-items .insta-icon{
    width: 40px;
    height: 40px;
    background-image: url(./img/icons/icons8-insta.svg);
    background-size: 40px 40px;
}
#footer-section .footer-items .telegram-icon{
    width: 35px;
    height: 35px;
    background-image: url(./img/icons/icons8-telegram.png);
    background-size: 35px 35px;
}
#footer-section .footer-items .vk-icon{
    width: 40px;
    height: 40px;
    background-image: url(./img/icons/icons8-vk.svg);
    background-size: 40px 40px;
}
#footer-section p{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}
/* End Footer */

/* Media Queries */
@media only screen and (min-width: 768px) {
    #header .nav-list ul.active {
        left: -55%;
    }
    #main .main .main-images{
        height: 80vh;
        background-color: white;
    }
    #main .main .main-content .main-offer{
        position: absolute;
        left: 5%;
    }
    #main .main .main-content .main-offer .offer-theme h1{
        font-size: 2.9rem;
        line-height: 2.9rem;
    }
    #main .main .main-content .main-offer .offer-desc p{
        line-height: 2.7rem;
        font-size: 2.7rem;
        margin: 10px 0;
    }
    #catalog .catalog .catalog-content .content-wrapper .slider-wrapper button{
        width: 70px;
        height: 70px;
        background-size: 45px 45px;
    }
    #delivery .delivery .delivery-content .delivery-item .delivery-second h1{
        font-size: 2.3rem;
        line-height: 2.3rem;
    }
    #delivery .delivery .delivery-content .delivery-item .delivery-second p{
        font-size: 2rem;
        line-height: 1.9rem;
    }
    #contacts-and-reports .contacts-and-reports{
        flex-direction: row;
        align-items: start;
        justify-content: center;
    }
    #contacts-and-reports .contacts-and-reports .reports{
        margin: 0 0px 0 50px;
    }
    .reports .reports-content{
        min-height: 390px;
        margin-top: 30px;
    }
    .pay-methods .pay-item{
        width: 110px;
    }
    #footer-section .footer-section{
        max-width: 1200px;
        margin: 0 auto;
        flex-direction: row;
        align-items: center;
        padding-top: 10px;
    }
    #footer-section .footer-section .footer-items{
        margin: 0;
    }
    #footer-section .footer-section .brand{
        margin: 0 0 0 10px;
    }
    #footer-section .footer-section .copyright{
        margin: 0 10px 0 0;
    }
}
@media only screen and (min-width: 1200px) {
    #header .header{
        margin: 0 auto;
    }
    #header .header .hamburger{
        display: none;
    }
    #header .header .nav-list ul{
        display: block;
        position: initial;
        width: fit-content;
        height: auto;
        border-right: none;
        /* border: 2px solid black; */
        background-color: transparent;
    }
    #header .header .nav-list ul li{
        display: inline-block;
    }
    #header .header .nav-list ul li a{
        font-size: 1.7rem;
        font-weight: 500;
        transition: 0.15s color;
    }
    #header .header .nav-list ul li a:hover{
        text-decoration: underline;
        color: crimson;
    }
    #header .header .call-me-desktop{
        display: flex;
    }
    #header .header .call-me-mobile{
        display: none;
    }
    #catalog .catalog .catalog-content .content-wrapper .useful-info{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 300px;
        border-radius: 20px;
        height: 350px;
        /* border: 2px dashed chocolate; */
        color: white;
        background-color: rgba(0, 0, 0, .4);
    }
    #catalog .catalog .catalog-content .content-wrapper .useful-info h1{
        text-align: center;
        font-size: 3rem;
    }
    #contacts-and-reports .contacts-and-reports .contact-item{
        width: 420px;
        max-width: 500px;
    }
    #footer-section .footer-items a:hover{
        animation: button-shining-two 0.2s infinite;
    }
    #footer-section .footer-section .brand{
        margin: 0;
    }
    #footer-section .footer-section .copyright{
        margin: 0;
    }
}
/* End Media Queries */

/* Keyframes */
@keyframes button-shining {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(2deg);
    }
    15% {
        transform: rotate(-2deg);
    }
    20% {
        transform: rotate(2deg);
    }
    25% {
        transform: rotate(-2deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes button-shining-two {
    0% {
        transform: rotate(-5deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    75%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(-5deg);
    }
}
@keyframes image-dance {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-30%);
    }
    55%{
        transform: translateX(-30%);
    }
    95% {
        transform: translateX(0%);
    }
    100%{
        transform: translateX(0%);
    }
}
/* End Keyframes */