@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Roboto, sans-serif;
    font-size: 10px;
    box-sizing: border-box;
    background-color: rgb(236, 236, 240);
}
#header{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
#header .header{
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    padding-bottom: 5px;
}
#header .header .return-button{
    width: 35px;
    height: 35px;
    position: absolute;
    left: 2%;
    top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    border-radius: 50%;
    background-color: white;
}
#header .header .returning-header .active{
    transform: rotate(180deg);
}
#header .header .return-button .bar{
    height: 2.5px;
    width: 12px;
    background-color: crimson;
    position: relative;
    padding: 0.1px;
}
#header .header .return-button .bar::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 3.5px;
    left: -4.3px;
    background-color: crimson;
    transform: rotate(45deg);
}
#header .header .return-button .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: -3.5px;
    left: -4.3px;
    background-color: crimson;
    transform: rotate(315deg);
}
#header .header .ashyq-text{
    width: 55%;
}
#header .header .ashyq-text p{
    text-align: center;
    font-size: 1.7rem;
    overflow: hidden;
    height: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
}
#main{
    width: 100%;
    height: 120vh;
}
#main .main{
    max-width: 1200px;
    margin: 0 auto;
}
#main .main .green-zone{
    color: white;
    padding: 120px 15px 30px 15px;
    background-color: rgb(124, 209, 39);
}
#main .main .green-zone h1{
    font-size: 4rem;
    animation: shining 1s ease infinite;
}
#main .main .green-zone p{
    font-size: 1.5rem;
}
#main .main .timer{
    padding: 15px;
    background-color: white;
    margin-bottom: 10px;
}
#main .main .timer-show{
    display: flex;
}
#main .main .timer p{
    font-size: 1.5rem;
}
#main .main .timer h2{
    font-size: 2rem;
}
#main .main .timer .deci-seconds{
    font-weight: 400;
}
#main .main .timer .seconds::before{
    content: ':';
}
#main .main .timer .seconds::after{
    content: ',';
}
#main .main .iin .iin-item{
    background-color: white;
    padding: 15px;
    margin-bottom: 1px;
}
#main .main .iin h3{
    border: none;
    font-size: 1.5rem;
    font-weight: 400;
}
#main .main .iin input:active{
    border: none;
}
#main .main .iin .iin-item p{
    color: rgb(146, 145, 145);
    margin-bottom: 10px;
}
#main .main .iin .iin-item h3{
    font-size: 1.5rem;
    font-weight: 400;
}
#main .main .returning .return-button{
    display: flex;
    justify-content: center;
}
#main .main .returning .return-button{
    text-decoration: none;
    background-color: rgb(30, 134, 238);
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    border-radius: 2px;
    margin: 30px 15px;
    padding: 10px 0;
    display: block;
    text-align: center;
}
.settings-menu ul{
    color: white;
    height: 100vh;
    width: 100vw;
    list-style: none;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    left: -100%;
    background-color: rgb(61, 52, 52);
    overflow: hidden;
    transition: 0.45s ease left;
}
#header .header .settings-menu .active{
    left: 0%;
}
.settings-menu .settings-item{
    margin: 18px;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
}
.settings-menu button{
    width: 60px;
    margin-top: 40px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    background-image: linear-gradient(#28ff14 0%, #14dd 100%);
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
@keyframes shining {
    0%{
        opacity: 1;
    }
    62%{
        opacity: 0.1;
    }
    100%{
        opacity: 1;
    }
}
